@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Roboto', sans-serif;
    color: #151515;
}

.modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(77, 71, 71, 0.734);
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
}

.modal-content {
    background-color: blanchedalmond;
    margin: 5% auto;
    padding: 5rem;
    width: 600px;
    height: 600px;
    animation: zoom-in 1s;
}

@keyframes zoom-in {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.closeBtn {
    float: right;
    cursor: pointer;
    font-size: 2rem;
}

.movie-poster-modal {
    width: 300px;
}

.movie-card {
    margin-top: 5rem;
    height: 800px;
    text-align: center;
}

.movie-title {
    text-transform: uppercase;
    animation: slide-in 1s ease-out;
}

@keyframes slide-in {
    0% {
        transform: translateY(100%);
        opacity: 1;
    }

    100% { 
        transform: translateY(0);
        opacity: 1;
    }
    
}

.movie-poster-container img {
    margin-top: 2rem;
    width: 300px;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
    animation: fade-in-zoom 1s ease-in-out;
}

@keyframes fade-in-zoom {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
    
}

.movie-poster {
    width: 300px;
    cursor: pointer;
}

.movie-rating {
    display: inline-block;
    border: 1px solid #151515;
    padding: 1rem;
    border-radius: 5px;
}

.movie-duration {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}

.movie-duration:before {
    content: "\2022";
}

.movie-info-quote {
    color: #151515a4;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-info-overview-title {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.movie-info-actions {
    font-size:1.1rem;
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
    transition: transform 0.3s ease-in-out;
}

.movie-info-actions ul li:hover {
    animation: pulse 0.6s infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
    
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: 0.1rem;
    text-align: center;
    color: #777;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
}
